<!doctype html>

<html>
	<head>
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<meta charset = "utf-8"/>
		<title> Wolfram Delta Omicron </title>
	</head>
	<body>
		<div id="app-bar">
			<h1> Welcome to Wolfram Delta Omicron </h1>
		</div>
		<div id="forms">
			<h2> Enter your equation [test]</h2>
			<form id = "input" method="post">
				<input type = "text" name = "equation">
				<input type = "submit" value = "solve">
				<input type = "button" id = "reset" value = "reset">
			</form>
			<form id = "solution length">
				<input type = "radio" name = "solution length" value = "simple"> simple
				<input type = "radio" name = "solution length" value = "full"> full
			</form>
		</div>
		<h2 id = "output header"> </h2>
		<p id = "output"> </p>
		<p> Andrew/Jeff is cool </p>
		<p id = "full explanation"> RESULT: {{ data.result }} </p>
		<p hidden id = "simple explanation"> {simple result would go here} </p>
		<script src = "main.js"> </script>
	</body>
</html>